* {
  margin: 1%;
  padding: 0;
}

:root {
  --darkblue: #1B2430;
  --bluepurple: #51557e;
  --transbluepurple: #51557e6b;
  --purple: #816797;
  --transpurple: #81679746;
  --white: #D6D5A8;
  --smalltext: 12px;
  --regulartext: 16px;
  --largetext: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--transbluepurple);
  border: 2px solid var(--darkblue);
  border-radius: 100vw;
}

body {
  background-color: var(--darkblue);
  color: var(--white);
}

.landing {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  border: 2px solid var(--white);
}

.introduction {
  padding-left: 15%;
  font-size: var(--largetext);
}

.about {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutlabel {
  margin-bottom: 0;
  font-size: var(--regulartext);
}
.decorline {
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 50%;
  height: 0%;
  margin: 10px;
  border-color: var(--white);
}

.lineends {
  font-size: var(--smalltext);
}

.aboutsection {
  width: auto;
  height: 50%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutbox {
  width: 300px;
  height: 100%;
  margin: 10px;
  border-radius: 25px;
  border: 1px solid var(--white);
}
.box-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  background: var(--transpurple);
  border: 1px solid var(--transbluepurple);
  animation: animate 20s linear infinite;
  bottom: -150px;
  font-size: var(--smalltext);
}
#amazon {
  left: 60%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}
#uh {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 5.5s;
}
#upwork {
  left: 12%;
  width: 40px;
  height: 40px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
#python {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
#javascript {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
#valorant {
  left: 20%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 12s;
}
#cooking {
  left: 50%;
  width: 120px;
  height: 120px;
  animation-delay: 3.5s;
  animation-duration: 15s;
}
#skateboarding {
  left: 40%;
  width: 60px;
  height: 60px;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1;
  }
}

.projects {
  width: auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.projectlabel {
  font-size: var(--regulartext);
}
.projectline {
  border-color: var(--white);
}

.projectlist {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.proj {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.shortprojectimage {
  height: 100px;
  border: 1px solid var(--white);
}
.longprojectimage {
  height: 175px;
  border: 1px solid var(--white);
}
.projectdate {
  text-align: right;
  font-size: var(--smalltext);
}
.projectdesc {
  font-size: var(--smalltext);
}

.otherprojects {
  display: flex;
  justify-content: center;
  font-size: var(--regulartext);
}

.contact {
  width: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email {
  margin: 0;
  padding-bottom: 1%;
  color: var(--white);
  text-decoration: none;
  font-size: var(--regulartext);
}
.socials {
  margin: 0;
  display: flex;
  list-style: none;
}
ul.socials li {
  margin: 5%;
}

.svglogo {
  fill: var(--purple);
}